.row-container{
    padding: 10px;
    width: 100%;
    margin: 10px auto;
    height: 15%;
    background: #B7BED3;
    border-radius: 4px;
    display: grid;
    grid-template-columns: 3fr 4fr 1fr;
    grid-gap: 30px;
    gap: 20px;
    font-weight: 700;
    font-size: 18px;
    text-transform: capitalize;
    color: #000000;

}