.content {
    height: 100vh;
    overflow: hidden;
    background-color: #d2e0fb;
    display: flex;
}
.form {
    height: 100vh;
    text-align: center;
}

h2{
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.2em;
    padding: 10px 0;
    text-transform: uppercase;
}

.form_head {
    height: 45px;
    width: 900px;
    text-align: center;
    padding: 0%;
    margin: auto;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 25px;
    line-height: 48px;
}

.profile_pic {
    height: 300px;
    width: 200px;
    text-align: center;
    padding: 70px 20px;
}

.input{
    display: block;
    gap: 30px;
    width: 70%;
    margin: 20px auto;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    color: #6598ff;
    border: 0;
    font-size: 20px;
    padding-left: 10px;
    outline: none;
}

.button {
    width: 120px;
    padding: 10px;
    border: none;
    color: #fff;
    font-size: 18px;
    background: #0C407A;
    border-radius: .8em;
    font-weight: bold;
    cursor: pointer;
    transition: .5s ease;
}

.button:hover{
    background: #60aaff;
}

img {
    height: 90%;
    width: 90%; 
}