.dashboard-main{
    width: 70%;
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.dashboard-txt{
    background: #0C407A;
    border-radius: 2.5em;
    width: 550px;
    height: 120px;
    align-items: center;
    text-align: center;
    padding: 16px;
}

.p{
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    color: #FFF;
}
.loc{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #FFF;
}
.title{
    height: 60px;
}

.profile{
    text-align: center;
}

.profile img{
    height: 90px;
    width: 90px;
    border-radius: 50%;
}

